Source: s25rttr
Section: games
Priority: optional
Bugs: <https://bugs.siedler25.org/>
Homepage: <https://www.siedler25.org>
Maintainer: Siedler II.5 Team <sf-team@siedler25.org>
Build-Depends: debhelper (>= 7), cmake, libsdl1.2-dev, libsdl-mixer1.2-dev, libsndfile1-dev (>=0.1.17), libsamplerate0-dev (>= 0.1.2), gettext
Standards-Version: 3.8.0

Package: s25rttr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: s25client
Provides: s25rttr
Description: Die Siedler 2.5 RttR ist eine Nachprogrammierung des bekannten Spieles "Die Siedler 2" von Bluebyte. Es unterstützt Multiplayer-Spiele im Internet und LAN. Nicht vergessen: Die Originaldateien von Siedler 2 Gold müssen nach /usr/share/s25rttr/S2 kopiert werden und müssen für den Nutzer lesbar sein.
 The Settlers 2.5 RttR is a remake of the game The Settlers 2 of Bluebyte. It supports multiplayer games via ethernet and internet. Don't forget: The original game files of The Settlers 2 Gold must be copied to /usr/share/s25rttr/S2 and must be readably for the user to play this game.
