Source: s25rttr
Section: games
Priority: optional
Bugs: <https://bugs.siedler25.org/>
Homepage: <https://www.siedler25.org>
Maintainer: Return To The Roots Team <sf-team@siedler25.org>
Build-Depends: debhelper (>= 7), cmake (>=2.6), libsdl1.2-dev, libsdl-mixer1.2-dev, gettext
Standards-Version: 3.8.0

Package: s25rttr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: s25client
Provides: s25rttr
Description: Return To The Roots ist eine Nachprogrammierung des bekannten Spieles "Die Siedler II" von Bluebyte. Es unterstützt Multiplayer-Spiele im Internet und LAN. Nicht vergessen: Die Originaldateien von Die Siedler II Gold müssen nach /usr/share/s25rttr/S2 kopiert werden und müssen für den Nutzer lesbar sein.
 Return To The Roots is a remake of the game The Settlers 2 of Bluebyte. It supports multiplayer games via ethernet and internet. Don't forget: The original game files of The Settlers II Gold must be copied to /usr/share/s25rttr/S2 and must be readably for the user to play this game.
